{
  "swagger" : "2.0",
  "info" : {
    "description" : "Create payment initiation applications that offer great added value to your customers and users. INGs Payment Initiation Service will enable secure access to all European ING online accessible payments accounts.",
    "version" : "2.0.2",
    "title" : "Payment Initiation API",
    "contact" : {
      "name" : "ING Developer Portal",
      "url" : "https://developer.ing.com",
      "email" : "developerportal@ing.com"
    },
    "license" : {
      "name" : "Copyright (c) ING Bank N.V. All Rights Reserved.",
      "url" : "http://developer.ing.com"
    }
  },
  "host" : "api.ing.com",
  "basePath" : "/",
  "tags" : [ {
    "name" : "PSD2",
    "description" : "Revised Payment Services Directive (PSD2)",
    "externalDocs" : {
      "description" : "Directive (EU) 2015/2366",
      "url" : "https://ec.europa.eu/info/law/payment-services-psd-2-directive-eu-2015-2366_en"
    }
  }, {
    "name" : "Single payment initiation",
    "description" : "Initiate a single payment for all active European ING online payment accounts (SEPA Credit Transfer, Domestic Credit Transfer  or True International Payment)"
  }, {
    "name" : "Periodic payment initiation",
    "description" : "Initiate a periodic payment for all active European ING online payment accounts (SEPA Credit Transfer, Domestic Credit Transfer  or True International Payment)"
  }, {
    "name" : "Bulk payment initiation",
    "description" : "Initiate a bulk payment for all active European ING online payment accounts (SEPA Credit Transfer)"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/v1/payments/{payment-product}" : {
      "post" : {
        "tags" : [ "Single payment initiation" ],
        "summary" : "Payment initiation request - JSON.",
        "description" : "This operation will create a payment initiation request at ING as a resource addressable under {payment-product} with all data relevant for the corresponding payment product.",
        "operationId" : "initiatePayment",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "payment-product",
          "in" : "path",
          "description" : "The addressed payment product endpoint. The list of products supported is - sepa-credit-transfers - cross-border-credit-transfers - domestic-credit-transfers In due course, ING can communicate additional supported payment products.",
          "required" : true,
          "type" : "string",
          "enum" : [ "sepa-credit-transfers", "cross-border-credit-transfers", "domestic-credit-transfers" ]
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party (TPP).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Represents TPP Application Access Token. The process to obtain the Application Access Token is described in Client Credentials \"Authentication Flow\": https://developer.ing.com/openbanking/get-started",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./_,'+ -]+$"
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. The process of signing a request is described in 'Signing HTTP Messages' RFC draft version 07 (https://tools.ietf.org/html/draft-cavage-http-signatures-07). The request signature needs to be sent in the 'Signature' HTTP header as described in the RFC. For more details refer to: https://developer.ing.com/openbanking/get-started Additional requirements from ING:\n  - The only allowed algorithm is RSA-SHA256\n  - The key size for the used RSA key pair has to be at least 2048 bit\n  - The keyId is the clientId of your application originating from the ING Developer Portal\n  - We require the following headers required for every request: \"(request-target) Date Digest X-Request-ID\". The request-target is a combination of the HTTP action verb and the request URI path.",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./\"_=,'+ -]+$"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "The \"Digest\" Header header as defined in [RFC3230] contains a Hash of the message body. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512 as defined in [RFC5843].",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./,='+ -]+$"
        }, {
          "name" : "Date",
          "in" : "header",
          "description" : "Standard HTTP header element for date and time. HTTP headers are represented as RFC 7231, chapter 7.1.1.1.  Date/Time Formats. Format: EEE, dd MMM yyyy HH:mm:ss 'GMT'",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "TPP-Redirect-URI",
          "in" : "header",
          "description" : "URI of the TPP, where the transaction flow shall be redirected to after a Redirect",
          "required" : true,
          "type" : "string",
          "format" : "uri"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP.",
          "required" : true,
          "type" : "string",
          "format" : "ipv4,ipv6"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Payment initiation instruction. The payment data to be transported in the request body are dependent of the chosen API endpoint.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PaymentInstruction"
          }
        } ],
        "security" : [ {
          "ING-Application-Security" : [ "payment-accounts:orders:create" ]
        } ],
        "responses" : {
          "201" : {
            "description" : "Created.",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the individual request determined by the initiating party",
                "x-ing-type" : "string"
              },
              "X-ING-Response-ID" : {
                "type" : "string",
                "description" : "ID for tracing the individual request determined by the initiating party",
                "x-ing-type" : "string"
              },
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource (if created) i.e. GET /v1/payments/{payment-product}/{paymentId} example GET /v1/payments/sepa-credit-transfers/0e62dac7-6c2a-4483-ae01-b8f6221673d2",
                "x-ing-type" : "string"
              },
              "ASPSP-SCA-Approach" : {
                "type" : "string",
                "description" : "Defines the chosen SCA by ING i.e. REDIRECT. ING will start the authorization process implicitly as no additional data is needed from the TPP. Subsequently, the redirection of the PSU browser session should happen directly after the Payment Initiation Response.",
                "default" : "REDIRECT",
                "enum" : [ "REDIRECT" ],
                "x-ing-type" : "string"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/PaymentInitiationResponse"
            }
          },
          "400" : {
            "description" : "Bad Request.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "401" : {
            "description" : "Unauthorised.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "403" : {
            "description" : "Forbidden.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "404" : {
            "description" : "Not Found.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "422" : {
            "description" : "UNPROCESSABLE ENTITY.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "429" : {
            "description" : "Too Many Requests.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "500" : {
            "description" : "Internal Server Error.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "503" : {
            "description" : "SERVICE UNAVAILABLE.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          }
        }
      }
    },
    "/v1/payments/{payment-product}/{paymentId}" : {
      "get" : {
        "tags" : [ "Single payment initiation" ],
        "summary" : "Payment details - JSON",
        "description" : "This operation will return the payment initiation details based on the unique identifier of the payment (paymentId), as provided by ING as part of the response of the payment initiation request.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "payment-product",
          "in" : "path",
          "description" : "The addressed payment product endpoint. The list of products supported is - sepa-credit-transfers - cross-border-credit-transfers - domestic-credit-transfers In due course, ING can communicate additional supported payment products.",
          "required" : true,
          "type" : "string",
          "enum" : [ "sepa-credit-transfers", "cross-border-credit-transfers", "domestic-credit-transfers" ]
        }, {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Identification of payment instruction in ING (resource identification of the generated payment initiation resource).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party (TPP).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Represents TPP Application Access Token. The process to obtain the Application Access Token is described in Client Credentials \"Authentication Flow\": https://developer.ing.com/openbanking/get-started",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./_,'+ -]+$"
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. The process of signing a request is described in 'Signing HTTP Messages' RFC draft version 07 (https://tools.ietf.org/html/draft-cavage-http-signatures-07). The request signature needs to be sent in the 'Signature' HTTP header as described in the RFC. For more details refer to: https://developer.ing.com/openbanking/get-started Additional requirements from ING:\n  - The only allowed algorithm is RSA-SHA256\n  - The key size for the used RSA key pair has to be at least 2048 bit\n  - The keyId is the clientId of your application originating from the ING Developer Portal\n  - We require the following headers required for every request: \"(request-target) Date Digest X-Request-ID\". The request-target is a combination of the HTTP action verb and the request URI path.",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./\"_=,'+ -]+$"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "The \"Digest\" Header header as defined in [RFC3230] contains a Hash of the message body. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512 as defined in [RFC5843].",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./,='+ -]+$"
        }, {
          "name" : "Date",
          "in" : "header",
          "description" : "Standard HTTP header element for date and time. HTTP headers are represented as RFC 7231, chapter 7.1.1.1.  Date/Time Formats. Format: EEE, dd MMM yyyy HH:mm:ss 'GMT'",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP.",
          "required" : false,
          "type" : "string",
          "format" : "ipv4,ipv6"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the individual request determined by the initiating party",
                "x-ing-type" : "string"
              },
              "X-ING-Response-ID" : {
                "type" : "string",
                "description" : "ID for tracing the individual request determined by the initiating party",
                "x-ing-type" : "string"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/PaymentInstruction"
            }
          },
          "400" : {
            "description" : "Bad Request.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "401" : {
            "description" : "Unauthorised.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "403" : {
            "description" : "Forbidden.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "404" : {
            "description" : "Not Found.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "422" : {
            "description" : "UNPROCESSABLE ENTITY.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "429" : {
            "description" : "Too Many Requests.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "500" : {
            "description" : "Internal Server Error.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "503" : {
            "description" : "SERVICE UNAVAILABLE.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Single payment initiation" ],
        "summary" : "Payment cancellation - JSON",
        "description" : "This operation will cancel the initiated payment based on the unique identifier of the payment (paymentId), as provided by ING as part of the response of the payment initiation request. The response to this request will inform the requester whether the request was * successful (204) or, * rejected (4xx).",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "payment-product",
          "in" : "path",
          "description" : "The addressed payment product endpoint. The list of products supported is - sepa-credit-transfers - cross-border-credit-transfers - domestic-credit-transfers In due course, ING can communicate additional supported payment products.",
          "required" : true,
          "type" : "string",
          "enum" : [ "sepa-credit-transfers", "cross-border-credit-transfers", "domestic-credit-transfers" ]
        }, {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Identification of payment instruction in ING (resource identification of the generated payment initiation resource).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party (TPP).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Represents TPP Application Access Token. The process to obtain the Application Access Token is described in Client Credentials \"Authentication Flow\": https://developer.ing.com/openbanking/get-started",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./_,'+ -]+$"
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. The process of signing a request is described in 'Signing HTTP Messages' RFC draft version 07 (https://tools.ietf.org/html/draft-cavage-http-signatures-07). The request signature needs to be sent in the 'Signature' HTTP header as described in the RFC. For more details refer to: https://developer.ing.com/openbanking/get-started Additional requirements from ING:\n  - The only allowed algorithm is RSA-SHA256\n  - The key size for the used RSA key pair has to be at least 2048 bit\n  - The keyId is the clientId of your application originating from the ING Developer Portal\n  - We require the following headers required for every request: \"(request-target) Date Digest X-Request-ID\". The request-target is a combination of the HTTP action verb and the request URI path.",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./\"_=,'+ -]+$"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "The \"Digest\" Header header as defined in [RFC3230] contains a Hash of the message body. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512 as defined in [RFC5843].",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./,='+ -]+$"
        }, {
          "name" : "Date",
          "in" : "header",
          "description" : "Standard HTTP header element for date and time. HTTP headers are represented as RFC 7231, chapter 7.1.1.1.  Date/Time Formats. Format: EEE, dd MMM yyyy HH:mm:ss 'GMT'",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP.",
          "required" : false,
          "type" : "string",
          "format" : "ipv4,ipv6"
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the individual request determined by the initiating party",
                "x-ing-type" : "string"
              },
              "X-ING-Response-ID" : {
                "type" : "string",
                "description" : "ID for tracing the individual request determined by the initiating party",
                "x-ing-type" : "string"
              }
            }
          },
          "400" : {
            "description" : "Bad Request.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "401" : {
            "description" : "Unauthorised.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "403" : {
            "description" : "Forbidden.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "404" : {
            "description" : "Not Found.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "422" : {
            "description" : "UNPROCESSABLE ENTITY.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "429" : {
            "description" : "Too Many Requests.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "500" : {
            "description" : "Internal Server Error.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "503" : {
            "description" : "SERVICE UNAVAILABLE.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          }
        }
      }
    },
    "/v1/payments/{payment-product}/{paymentId}/status" : {
      "get" : {
        "tags" : [ "Single payment initiation" ],
        "summary" : "Payment status - JSON",
        "description" : "This operation will return the status of the payment based on the unique identifier of the payment (paymentId), as provided by ING as part of the response of the payment initiation request.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "payment-product",
          "in" : "path",
          "description" : "The addressed payment product endpoint. The list of products supported is - sepa-credit-transfers - cross-border-credit-transfers - domestic-credit-transfers In due course, ING can communicate additional supported payment products.",
          "required" : true,
          "type" : "string",
          "enum" : [ "sepa-credit-transfers", "cross-border-credit-transfers", "domestic-credit-transfers" ]
        }, {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Identification of payment instruction in ING (resource identification of the generated payment initiation resource).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party (TPP).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Represents TPP Application Access Token. The process to obtain the Application Access Token is described in Client Credentials \"Authentication Flow\": https://developer.ing.com/openbanking/get-started",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./_,'+ -]+$"
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. The process of signing a request is described in 'Signing HTTP Messages' RFC draft version 07 (https://tools.ietf.org/html/draft-cavage-http-signatures-07). The request signature needs to be sent in the 'Signature' HTTP header as described in the RFC. For more details refer to: https://developer.ing.com/openbanking/get-started Additional requirements from ING:\n  - The only allowed algorithm is RSA-SHA256\n  - The key size for the used RSA key pair has to be at least 2048 bit\n  - The keyId is the clientId of your application originating from the ING Developer Portal\n  - We require the following headers required for every request: \"(request-target) Date Digest X-Request-ID\". The request-target is a combination of the HTTP action verb and the request URI path.",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./\"_=,'+ -]+$"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "The \"Digest\" Header header as defined in [RFC3230] contains a Hash of the message body. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512 as defined in [RFC5843].",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./,='+ -]+$"
        }, {
          "name" : "Date",
          "in" : "header",
          "description" : "Standard HTTP header element for date and time. HTTP headers are represented as RFC 7231, chapter 7.1.1.1.  Date/Time Formats. Format: EEE, dd MMM yyyy HH:mm:ss 'GMT'",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP.",
          "required" : false,
          "type" : "string",
          "format" : "ipv4,ipv6"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the individual request determined by the initiating party",
                "x-ing-type" : "string"
              },
              "X-ING-Response-ID" : {
                "type" : "string",
                "description" : "ID for tracing the individual request determined by the initiating party",
                "x-ing-type" : "string"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/PaymentStatusResponse"
            }
          },
          "400" : {
            "description" : "Bad Request.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "401" : {
            "description" : "Unauthorised.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "403" : {
            "description" : "Forbidden.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "404" : {
            "description" : "Not Found.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "422" : {
            "description" : "UNPROCESSABLE ENTITY.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "429" : {
            "description" : "Too Many Requests.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "500" : {
            "description" : "Internal Server Error.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "503" : {
            "description" : "SERVICE UNAVAILABLE.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          }
        }
      }
    },
    "/v1/payments/pain.001-{payment-product}" : {
      "post" : {
        "tags" : [ "Single payment initiation" ],
        "summary" : "Payment initiation request - XML",
        "description" : "This operation will create a payment initiation request at ING as a resource addressable under {payment-product} with all data relevant for the corresponding payment product. Remark - The underlying ISO 20022 pain.001.001.03 XML structure which is transported in the content body of this request can only contain one payment initiation request.",
        "consumes" : [ "application/xml" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "payment-product",
          "in" : "path",
          "description" : "The addressed payment product endpoint. The list of products supported is - sepa-credit-transfers - cross-border-credit-transfers - domestic-credit-transfers In due course, ING can communicate additional supported payment products.",
          "required" : true,
          "type" : "string",
          "enum" : [ "sepa-credit-transfers", "cross-border-credit-transfers", "domestic-credit-transfers" ]
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party (TPP).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Represents TPP Application Access Token. The process to obtain the Application Access Token is described in Client Credentials \"Authentication Flow\": https://developer.ing.com/openbanking/get-started",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./_,'+ -]+$"
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. The process of signing a request is described in 'Signing HTTP Messages' RFC draft version 07 (https://tools.ietf.org/html/draft-cavage-http-signatures-07). The request signature needs to be sent in the 'Signature' HTTP header as described in the RFC. For more details refer to: https://developer.ing.com/openbanking/get-started Additional requirements from ING:\n  - The only allowed algorithm is RSA-SHA256\n  - The key size for the used RSA key pair has to be at least 2048 bit\n  - The keyId is the clientId of your application originating from the ING Developer Portal\n  - We require the following headers required for every request: \"(request-target) Date Digest X-Request-ID\". The request-target is a combination of the HTTP action verb and the request URI path.",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./\"_=,'+ -]+$"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "The \"Digest\" Header header as defined in [RFC3230] contains a Hash of the message body. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512 as defined in [RFC5843].",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./,='+ -]+$"
        }, {
          "name" : "Date",
          "in" : "header",
          "description" : "Standard HTTP header element for date and time. HTTP headers are represented as RFC 7231, chapter 7.1.1.1.  Date/Time Formats. Format: EEE, dd MMM yyyy HH:mm:ss 'GMT'",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "TPP-Redirect-URI",
          "in" : "header",
          "description" : "URI of the TPP, where the transaction flow shall be redirected to after a Redirect",
          "required" : true,
          "type" : "string",
          "format" : "uri"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP.",
          "required" : true,
          "type" : "string",
          "format" : "ipv4,ipv6"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Payment initiation instruction. The payment data to be transported in the request body in XML schema based on ISO 20022 pain.001.001.03 or lower standards",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/SinglePaymentRequestXML"
          }
        } ],
        "security" : [ {
          "ING-Application-Security" : [ "payment-accounts:orders:create" ]
        } ],
        "responses" : {
          "201" : {
            "description" : "Created.",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the individual request determined by the initiating party",
                "x-ing-type" : "string"
              },
              "X-ING-Response-ID" : {
                "type" : "string",
                "description" : "ID for tracing the individual request determined by the initiating party",
                "x-ing-type" : "string"
              },
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource (if created) i.e. GET /v1/payments/pain.001-{payment-product}/{paymentId} example GET /v1/payments/pain.001-sepa-credit-transfers/0e62dac7-6c2a-4483-ae01-b8f6221673d2",
                "x-ing-type" : "string"
              },
              "ASPSP-SCA-Approach" : {
                "type" : "string",
                "description" : "Defines the chosen SCA by ING i.e. REDIRECT. ING will start the authorization process implicitly as no additional data is needed from the TPP. Subsequently, the redirection of the PSU browser session should happen directly after the Payment Initiation Response.",
                "default" : "REDIRECT",
                "enum" : [ "REDIRECT" ],
                "x-ing-type" : "string"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/PaymentInitiationResponse"
            }
          },
          "400" : {
            "description" : "Bad Request.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "401" : {
            "description" : "Unauthorised.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "403" : {
            "description" : "Forbidden.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "404" : {
            "description" : "Not Found.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "422" : {
            "description" : "UNPROCESSABLE ENTITY.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "429" : {
            "description" : "Too Many Requests.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "500" : {
            "description" : "Internal Server Error.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "503" : {
            "description" : "SERVICE UNAVAILABLE.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          }
        }
      }
    },
    "/v1/payments/pain.001-{payment-product}/{paymentId}" : {
      "get" : {
        "tags" : [ "Single payment initiation" ],
        "summary" : "Payment details - XML",
        "description" : "This operation will return the payment initiation details based on the unique identifier of the payment (paymentId), as provided by ING as part of the response of payment initiation request in pain.001 XML encoding.",
        "produces" : [ "application/xml" ],
        "parameters" : [ {
          "name" : "payment-product",
          "in" : "path",
          "description" : "The addressed payment product endpoint. The list of products supported is - sepa-credit-transfers - cross-border-credit-transfers - domestic-credit-transfers In due course, ING can communicate additional supported payment products.",
          "required" : true,
          "type" : "string",
          "enum" : [ "sepa-credit-transfers", "cross-border-credit-transfers", "domestic-credit-transfers" ]
        }, {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Identification of payment instruction in ING (resource identification of the generated payment initiation resource).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party (TPP).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Represents TPP Application Access Token. The process to obtain the Application Access Token is described in Client Credentials \"Authentication Flow\": https://developer.ing.com/openbanking/get-started",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./_,'+ -]+$"
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. The process of signing a request is described in 'Signing HTTP Messages' RFC draft version 07 (https://tools.ietf.org/html/draft-cavage-http-signatures-07). The request signature needs to be sent in the 'Signature' HTTP header as described in the RFC. For more details refer to: https://developer.ing.com/openbanking/get-started Additional requirements from ING:\n  - The only allowed algorithm is RSA-SHA256\n  - The key size for the used RSA key pair has to be at least 2048 bit\n  - The keyId is the clientId of your application originating from the ING Developer Portal\n  - We require the following headers required for every request: \"(request-target) Date Digest X-Request-ID\". The request-target is a combination of the HTTP action verb and the request URI path.",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./\"_=,'+ -]+$"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "The \"Digest\" Header header as defined in [RFC3230] contains a Hash of the message body. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512 as defined in [RFC5843].",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./,='+ -]+$"
        }, {
          "name" : "Date",
          "in" : "header",
          "description" : "Standard HTTP header element for date and time. HTTP headers are represented as RFC 7231, chapter 7.1.1.1.  Date/Time Formats. Format: EEE, dd MMM yyyy HH:mm:ss 'GMT'",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP.",
          "required" : false,
          "type" : "string",
          "format" : "ipv4,ipv6"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the individual request determined by the initiating party",
                "x-ing-type" : "string"
              },
              "X-ING-Response-ID" : {
                "type" : "string",
                "description" : "ID for tracing the individual request determined by the initiating party",
                "x-ing-type" : "string"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/SinglePaymentRequestXML"
            }
          },
          "400" : {
            "description" : "Bad Request.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "401" : {
            "description" : "Unauthorised.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "403" : {
            "description" : "Forbidden.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "404" : {
            "description" : "Not Found.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "422" : {
            "description" : "UNPROCESSABLE ENTITY.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "429" : {
            "description" : "Too Many Requests.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "500" : {
            "description" : "Internal Server Error.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "503" : {
            "description" : "SERVICE UNAVAILABLE.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          }
        }
      }
    },
    "/v1/payments/pain.001-{payment-product}/{paymentId}/status" : {
      "get" : {
        "tags" : [ "Single payment initiation" ],
        "summary" : "Payment status - XML",
        "description" : "This operation will return the status of the payment based on the unique identifier of the payment (paymentId), as provided by ING as part of the response of the payment initiation request in pain.001 XML encoding. The response is in ISO 20022 pain.002.001.03 xml formatting.",
        "produces" : [ "application/xml" ],
        "parameters" : [ {
          "name" : "payment-product",
          "in" : "path",
          "description" : "The addressed payment product endpoint. The list of products supported is - sepa-credit-transfers - cross-border-credit-transfers - domestic-credit-transfers In due course, ING can communicate additional supported payment products.",
          "required" : true,
          "type" : "string",
          "enum" : [ "sepa-credit-transfers", "cross-border-credit-transfers", "domestic-credit-transfers" ]
        }, {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Identification of payment instruction in ING (resource identification of the generated payment initiation resource).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party (TPP).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Represents TPP Application Access Token. The process to obtain the Application Access Token is described in Client Credentials \"Authentication Flow\": https://developer.ing.com/openbanking/get-started",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./_,'+ -]+$"
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. The process of signing a request is described in 'Signing HTTP Messages' RFC draft version 07 (https://tools.ietf.org/html/draft-cavage-http-signatures-07). The request signature needs to be sent in the 'Signature' HTTP header as described in the RFC. For more details refer to: https://developer.ing.com/openbanking/get-started Additional requirements from ING:\n  - The only allowed algorithm is RSA-SHA256\n  - The key size for the used RSA key pair has to be at least 2048 bit\n  - The keyId is the clientId of your application originating from the ING Developer Portal\n  - We require the following headers required for every request: \"(request-target) Date Digest X-Request-ID\". The request-target is a combination of the HTTP action verb and the request URI path.",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./\"_=,'+ -]+$"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "The \"Digest\" Header header as defined in [RFC3230] contains a Hash of the message body. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512 as defined in [RFC5843].",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./,='+ -]+$"
        }, {
          "name" : "Date",
          "in" : "header",
          "description" : "Standard HTTP header element for date and time. HTTP headers are represented as RFC 7231, chapter 7.1.1.1.  Date/Time Formats. Format: EEE, dd MMM yyyy HH:mm:ss 'GMT'",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP.",
          "required" : false,
          "type" : "string",
          "format" : "ipv4,ipv6"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the individual request determined by the initiating party",
                "x-ing-type" : "string"
              },
              "X-ING-Response-ID" : {
                "type" : "string",
                "description" : "ID for tracing the individual request determined by the initiating party",
                "x-ing-type" : "string"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/SinglePaymentStatusXML"
            }
          },
          "400" : {
            "description" : "Bad Request.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "401" : {
            "description" : "Unauthorised.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "403" : {
            "description" : "Forbidden.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "404" : {
            "description" : "Not Found.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "422" : {
            "description" : "UNPROCESSABLE ENTITY.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "429" : {
            "description" : "Too Many Requests.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "500" : {
            "description" : "Internal Server Error.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "503" : {
            "description" : "SERVICE UNAVAILABLE.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          }
        }
      }
    },
    "/v2/payments/pain.001-{payment-product}/{paymentId}/status" : {
      "get" : {
        "tags" : [ "Single payment initiation" ],
        "summary" : "Payment status - XML",
        "description" : "This operation will return the status of the payment based on the unique identifier of the payment (paymentId), as provided by ING as part of the response of the payment initiation request in pain.001 XML encoding. The response is in ISO 20022 pain.002.001.11 xml formatting. This format is required in order to receive advanced transactionStatus like CANC and PATC, in addition to the transactionStatus’ supported in ISO versions preceding pain.002.001.08.",
        "produces" : [ "application/xml" ],
        "parameters" : [ {
          "name" : "payment-product",
          "in" : "path",
          "description" : "The addressed payment product endpoint. The list of products supported is - sepa-credit-transfers - cross-border-credit-transfers - domestic-credit-transfers In due course, ING can communicate additional supported payment products.",
          "required" : true,
          "type" : "string",
          "enum" : [ "sepa-credit-transfers", "cross-border-credit-transfers", "domestic-credit-transfers" ]
        }, {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Identification of payment instruction in ING (resource identification of the generated payment initiation resource).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party (TPP).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Represents TPP Application Access Token. The process to obtain the Application Access Token is described in Client Credentials \"Authentication Flow\": https://developer.ing.com/openbanking/get-started",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./_,'+ -]+$"
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. The process of signing a request is described in 'Signing HTTP Messages' RFC draft version 07 (https://tools.ietf.org/html/draft-cavage-http-signatures-07). The request signature needs to be sent in the 'Signature' HTTP header as described in the RFC. For more details refer to: https://developer.ing.com/openbanking/get-started Additional requirements from ING:\n  - The only allowed algorithm is RSA-SHA256\n  - The key size for the used RSA key pair has to be at least 2048 bit\n  - The keyId is the clientId of your application originating from the ING Developer Portal\n  - We require the following headers required for every request: \"(request-target) Date Digest X-Request-ID\". The request-target is a combination of the HTTP action verb and the request URI path.",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./\"_=,'+ -]+$"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "The \"Digest\" Header header as defined in [RFC3230] contains a Hash of the message body. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512 as defined in [RFC5843].",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./,='+ -]+$"
        }, {
          "name" : "Date",
          "in" : "header",
          "description" : "Standard HTTP header element for date and time. HTTP headers are represented as RFC 7231, chapter 7.1.1.1.  Date/Time Formats. Format: EEE, dd MMM yyyy HH:mm:ss 'GMT'",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP.",
          "required" : false,
          "type" : "string",
          "format" : "ipv4,ipv6"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the individual request determined by the initiating party",
                "x-ing-type" : "string"
              },
              "X-ING-Response-ID" : {
                "type" : "string",
                "description" : "ID for tracing the individual request determined by the initiating party",
                "x-ing-type" : "string"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/SinglePaymentStatusXML_V2"
            }
          },
          "400" : {
            "description" : "Bad Request.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "401" : {
            "description" : "Unauthorised.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "403" : {
            "description" : "Forbidden.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "404" : {
            "description" : "Not Found.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "422" : {
            "description" : "UNPROCESSABLE ENTITY.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "429" : {
            "description" : "Too Many Requests.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "500" : {
            "description" : "Internal Server Error.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "503" : {
            "description" : "SERVICE UNAVAILABLE.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          }
        }
      }
    },
    "/v1/periodic-payments/{payment-product}" : {
      "post" : {
        "tags" : [ "Periodic payment initiation" ],
        "summary" : "Periodic payment initiation - JSON",
        "description" : "This operation will create a periodic payment (also known as a standing order) initiation request at ING as a resource addressable under {payment-product} with all data relevant for the corresponding payment product.",
        "operationId" : "initiatePeriodicPayment",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "payment-product",
          "in" : "path",
          "description" : "The addressed payment product endpoint. The list of products supported is - sepa-credit-transfers - cross-border-credit-transfers - domestic-credit-transfers In due course, ING can communicate additional supported payment products.",
          "required" : true,
          "type" : "string",
          "enum" : [ "sepa-credit-transfers", "cross-border-credit-transfers", "domestic-credit-transfers" ]
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party (TPP).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Represents TPP Application Access Token. The process to obtain the Application Access Token is described in Client Credentials \"Authentication Flow\": https://developer.ing.com/openbanking/get-started",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./_,'+ -]+$"
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. The process of signing a request is described in 'Signing HTTP Messages' RFC draft version 07 (https://tools.ietf.org/html/draft-cavage-http-signatures-07). The request signature needs to be sent in the 'Signature' HTTP header as described in the RFC. For more details refer to: https://developer.ing.com/openbanking/get-started Additional requirements from ING:\n  - The only allowed algorithm is RSA-SHA256\n  - The key size for the used RSA key pair has to be at least 2048 bit\n  - The keyId is the clientId of your application originating from the ING Developer Portal\n  - We require the following headers required for every request: \"(request-target) Date Digest X-Request-ID\". The request-target is a combination of the HTTP action verb and the request URI path.",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./\"_=,'+ -]+$"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "The \"Digest\" Header header as defined in [RFC3230] contains a Hash of the message body. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512 as defined in [RFC5843].",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./,='+ -]+$"
        }, {
          "name" : "Date",
          "in" : "header",
          "description" : "Standard HTTP header element for date and time. HTTP headers are represented as RFC 7231, chapter 7.1.1.1.  Date/Time Formats. Format: EEE, dd MMM yyyy HH:mm:ss 'GMT'",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "TPP-Redirect-URI",
          "in" : "header",
          "description" : "URI of the TPP, where the transaction flow shall be redirected to after a Redirect",
          "required" : true,
          "type" : "string",
          "format" : "uri"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP.",
          "required" : true,
          "type" : "string",
          "format" : "ipv4,ipv6"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "Payment initiation instruction. The payment data to be transported in the request body are dependent of the chosen API endpoint.",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/PeriodicPaymentInitiation_json"
          }
        } ],
        "security" : [ {
          "ING-Application-Security" : [ "payment-accounts:orders:create" ]
        } ],
        "responses" : {
          "201" : {
            "description" : "Created.",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the individual request determined by the initiating party",
                "x-ing-type" : "string"
              },
              "X-ING-Response-ID" : {
                "type" : "string",
                "description" : "ID for tracing the individual request determined by the initiating party",
                "x-ing-type" : "string"
              },
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource (if created) i.e. GET /v1/payments/{payment-product}/{paymentId} example GET /v1/payments/sepa-credit-transfers/0e62dac7-6c2a-4483-ae01-b8f6221673d2",
                "x-ing-type" : "string"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/PeriodicPaymentInitiationResponse"
            }
          },
          "400" : {
            "description" : "Bad Request.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "401" : {
            "description" : "Unauthorised.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "403" : {
            "description" : "Forbidden.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "404" : {
            "description" : "Not Found.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "422" : {
            "description" : "UNPROCESSABLE ENTITY.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "429" : {
            "description" : "Too Many Requests.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "500" : {
            "description" : "Internal Server Error.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "503" : {
            "description" : "SERVICE UNAVAILABLE.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          }
        }
      }
    },
    "/v1/periodic-payments/{payment-product}/{paymentId}" : {
      "get" : {
        "tags" : [ "Periodic payment initiation" ],
        "summary" : "Periodic payment details - JSON",
        "description" : "This operation will return the periodic payment initiation details based on the unique identifier of the periodic payment (paymentId), as provided by ING as part of the response of the periodic payment initiation request.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "payment-product",
          "in" : "path",
          "description" : "The addressed payment product endpoint. The list of products supported is - sepa-credit-transfers - cross-border-credit-transfers - domestic-credit-transfers In due course, ING can communicate additional supported payment products.",
          "required" : true,
          "type" : "string",
          "enum" : [ "sepa-credit-transfers", "cross-border-credit-transfers", "domestic-credit-transfers" ]
        }, {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Identification of payment instruction in ING (resource identification of the generated payment initiation resource).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party (TPP).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Represents TPP Application Access Token. The process to obtain the Application Access Token is described in Client Credentials \"Authentication Flow\": https://developer.ing.com/openbanking/get-started",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./_,'+ -]+$"
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. The process of signing a request is described in 'Signing HTTP Messages' RFC draft version 07 (https://tools.ietf.org/html/draft-cavage-http-signatures-07). The request signature needs to be sent in the 'Signature' HTTP header as described in the RFC. For more details refer to: https://developer.ing.com/openbanking/get-started Additional requirements from ING:\n  - The only allowed algorithm is RSA-SHA256\n  - The key size for the used RSA key pair has to be at least 2048 bit\n  - The keyId is the clientId of your application originating from the ING Developer Portal\n  - We require the following headers required for every request: \"(request-target) Date Digest X-Request-ID\". The request-target is a combination of the HTTP action verb and the request URI path.",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./\"_=,'+ -]+$"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "The \"Digest\" Header header as defined in [RFC3230] contains a Hash of the message body. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512 as defined in [RFC5843].",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./,='+ -]+$"
        }, {
          "name" : "Date",
          "in" : "header",
          "description" : "Standard HTTP header element for date and time. HTTP headers are represented as RFC 7231, chapter 7.1.1.1.  Date/Time Formats. Format: EEE, dd MMM yyyy HH:mm:ss 'GMT'",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP.",
          "required" : false,
          "type" : "string",
          "format" : "ipv4,ipv6"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the individual request determined by the initiating party",
                "x-ing-type" : "string"
              },
              "X-ING-Response-ID" : {
                "type" : "string",
                "description" : "ID for tracing the individual request determined by the initiating party",
                "x-ing-type" : "string"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/PeriodicPaymentInitiation_json"
            }
          },
          "400" : {
            "description" : "Bad Request.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "401" : {
            "description" : "Unauthorised.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "403" : {
            "description" : "Forbidden.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "404" : {
            "description" : "Not Found.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "422" : {
            "description" : "UNPROCESSABLE ENTITY.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "429" : {
            "description" : "Too Many Requests.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "500" : {
            "description" : "Internal Server Error.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "503" : {
            "description" : "SERVICE UNAVAILABLE.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Periodic payment initiation" ],
        "summary" : "Periodic payment cancellation - JSON",
        "description" : "This operation will cancel the initiated periodic payment based on the unique identifier of the payment (paymentId), as provided by ING as part of the response of the periodic payment initiation request. The response to this request will inform the requester whether the request was * successful (204) or, * rejected (4xx).",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "payment-product",
          "in" : "path",
          "description" : "The addressed payment product endpoint. The list of products supported is - sepa-credit-transfers - cross-border-credit-transfers - domestic-credit-transfers In due course, ING can communicate additional supported payment products.",
          "required" : true,
          "type" : "string",
          "enum" : [ "sepa-credit-transfers", "cross-border-credit-transfers", "domestic-credit-transfers" ]
        }, {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Identification of payment instruction in ING (resource identification of the generated payment initiation resource).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party (TPP).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Represents TPP Application Access Token. The process to obtain the Application Access Token is described in Client Credentials \"Authentication Flow\": https://developer.ing.com/openbanking/get-started",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./_,'+ -]+$"
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. The process of signing a request is described in 'Signing HTTP Messages' RFC draft version 07 (https://tools.ietf.org/html/draft-cavage-http-signatures-07). The request signature needs to be sent in the 'Signature' HTTP header as described in the RFC. For more details refer to: https://developer.ing.com/openbanking/get-started Additional requirements from ING:\n  - The only allowed algorithm is RSA-SHA256\n  - The key size for the used RSA key pair has to be at least 2048 bit\n  - The keyId is the clientId of your application originating from the ING Developer Portal\n  - We require the following headers required for every request: \"(request-target) Date Digest X-Request-ID\". The request-target is a combination of the HTTP action verb and the request URI path.",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./\"_=,'+ -]+$"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "The \"Digest\" Header header as defined in [RFC3230] contains a Hash of the message body. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512 as defined in [RFC5843].",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./,='+ -]+$"
        }, {
          "name" : "Date",
          "in" : "header",
          "description" : "Standard HTTP header element for date and time. HTTP headers are represented as RFC 7231, chapter 7.1.1.1.  Date/Time Formats. Format: EEE, dd MMM yyyy HH:mm:ss 'GMT'",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP.",
          "required" : false,
          "type" : "string",
          "format" : "ipv4,ipv6"
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the individual request determined by the initiating party",
                "x-ing-type" : "string"
              },
              "X-ING-Response-ID" : {
                "type" : "string",
                "description" : "ID for tracing the individual request determined by the initiating party",
                "x-ing-type" : "string"
              }
            }
          },
          "400" : {
            "description" : "Bad Request.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "401" : {
            "description" : "Unauthorised.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "403" : {
            "description" : "Forbidden.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "404" : {
            "description" : "Not Found.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "422" : {
            "description" : "UNPROCESSABLE ENTITY.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "429" : {
            "description" : "Too Many Requests.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "500" : {
            "description" : "Internal Server Error.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          }
        }
      }
    },
    "/v1/periodic-payments/{payment-product}/{paymentId}/status" : {
      "get" : {
        "tags" : [ "Periodic payment initiation" ],
        "summary" : "Periodic payment status - JSON",
        "description" : "This operation will return the status of the periodic payment based on the unique identifier of the payment (paymentId), as provided by ING as part of the response of the payment initiation request.",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "payment-product",
          "in" : "path",
          "description" : "The addressed payment product endpoint. The list of products supported is - sepa-credit-transfers - cross-border-credit-transfers - domestic-credit-transfers In due course, ING can communicate additional supported payment products.",
          "required" : true,
          "type" : "string",
          "enum" : [ "sepa-credit-transfers", "cross-border-credit-transfers", "domestic-credit-transfers" ]
        }, {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Identification of payment instruction in ING (resource identification of the generated payment initiation resource).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party (TPP).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Represents TPP Application Access Token. The process to obtain the Application Access Token is described in Client Credentials \"Authentication Flow\": https://developer.ing.com/openbanking/get-started",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./_,'+ -]+$"
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. The process of signing a request is described in 'Signing HTTP Messages' RFC draft version 07 (https://tools.ietf.org/html/draft-cavage-http-signatures-07). The request signature needs to be sent in the 'Signature' HTTP header as described in the RFC. For more details refer to: https://developer.ing.com/openbanking/get-started Additional requirements from ING:\n  - The only allowed algorithm is RSA-SHA256\n  - The key size for the used RSA key pair has to be at least 2048 bit\n  - The keyId is the clientId of your application originating from the ING Developer Portal\n  - We require the following headers required for every request: \"(request-target) Date Digest X-Request-ID\". The request-target is a combination of the HTTP action verb and the request URI path.",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./\"_=,'+ -]+$"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "The \"Digest\" Header header as defined in [RFC3230] contains a Hash of the message body. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512 as defined in [RFC5843].",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./,='+ -]+$"
        }, {
          "name" : "Date",
          "in" : "header",
          "description" : "Standard HTTP header element for date and time. HTTP headers are represented as RFC 7231, chapter 7.1.1.1.  Date/Time Formats. Format: EEE, dd MMM yyyy HH:mm:ss 'GMT'",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP.",
          "required" : false,
          "type" : "string",
          "format" : "ipv4,ipv6"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the individual request determined by the initiating party",
                "x-ing-type" : "string"
              },
              "X-ING-Response-ID" : {
                "type" : "string",
                "description" : "ID for tracing the individual request determined by the initiating party",
                "x-ing-type" : "string"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/PaymentAgreementStatusResponse"
            }
          },
          "400" : {
            "description" : "Bad Request.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "401" : {
            "description" : "Unauthorised.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "403" : {
            "description" : "Forbidden.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "404" : {
            "description" : "Not Found.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "422" : {
            "description" : "UNPROCESSABLE ENTITY.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "429" : {
            "description" : "Too Many Requests.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "500" : {
            "description" : "Internal Server Error.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          }
        }
      }
    },
    "/v1/periodic-payments/pain.001-{payment-product}" : {
      "post" : {
        "tags" : [ "Periodic payment initiation" ],
        "summary" : "Periodic payment initiation - Multi-part",
        "description" : "This operation will create a periodic payment (also known as a standing order) initiation request at ING as a resource addressable under {payment-product} with all data relevant for the corresponding payment product. Where the periodic payment initiation request is contained in an pain.001 message (Part 1) and the additional informations related to the periodic payment initiation request is an additional JSON message (Part 2).",
        "operationId" : "initiatePeriodicPaymentXML",
        "consumes" : [ "multipart/form-data" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "payment-product",
          "in" : "path",
          "description" : "The addressed payment product endpoint. The list of products supported is - sepa-credit-transfers - cross-border-credit-transfers - domestic-credit-transfers In due course, ING can communicate additional supported payment products.",
          "required" : true,
          "type" : "string",
          "enum" : [ "sepa-credit-transfers", "cross-border-credit-transfers", "domestic-credit-transfers" ]
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party (TPP).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Represents TPP Application Access Token. The process to obtain the Application Access Token is described in Client Credentials \"Authentication Flow\": https://developer.ing.com/openbanking/get-started",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./_,'+ -]+$"
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. The process of signing a request is described in 'Signing HTTP Messages' RFC draft version 07 (https://tools.ietf.org/html/draft-cavage-http-signatures-07). The request signature needs to be sent in the 'Signature' HTTP header as described in the RFC. For more details refer to: https://developer.ing.com/openbanking/get-started Additional requirements from ING:\n  - The only allowed algorithm is RSA-SHA256\n  - The key size for the used RSA key pair has to be at least 2048 bit\n  - The keyId is the clientId of your application originating from the ING Developer Portal\n  - We require the following headers required for every request: \"(request-target) Date Digest X-Request-ID\". The request-target is a combination of the HTTP action verb and the request URI path.",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./\"_=,'+ -]+$"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "The \"Digest\" Header header as defined in [RFC3230] contains a Hash of the message body. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512 as defined in [RFC5843].",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./,='+ -]+$"
        }, {
          "name" : "Date",
          "in" : "header",
          "description" : "Standard HTTP header element for date and time. HTTP headers are represented as RFC 7231, chapter 7.1.1.1.  Date/Time Formats. Format: EEE, dd MMM yyyy HH:mm:ss 'GMT'",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "TPP-Redirect-URI",
          "in" : "header",
          "description" : "URI of the TPP, where the transaction flow shall be redirected to after a Redirect",
          "required" : true,
          "type" : "string",
          "format" : "uri"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP.",
          "required" : true,
          "type" : "string",
          "format" : "ipv4,ipv6"
        }, {
          "name" : "xml_sct",
          "in" : "formData",
          "description" : "A pain.001 structure corresponding to the Single Payment schema urn:iso:std:iso:20022:tech:xsd:pain.001.001.03",
          "required" : true,
          "type" : "file"
        }, {
          "name" : "startDate",
          "in" : "formData",
          "description" : "The first applicable day of execution starting from this date is the first payment. Expressed in YYYY-MM-DD format",
          "required" : true,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "endDate",
          "in" : "formData",
          "description" : "The last applicable day of execution If not given, it is an infinite standing order. Expressed in YYYY-MM-DD format",
          "required" : false,
          "type" : "string",
          "format" : "date"
        }, {
          "name" : "frequency",
          "in" : "formData",
          "description" : "The following codes from the \"EventFrequency7Code\" of ISO 20022 are supported.\n- DAIL: Daily\n- WEEK: Weekly\n- TOWK: EveryTwoWeeks\n- MNTH: Monthly\n- TOMN: EveryTwoMonths\n- FOMN: EveryFourMonths\n- QUTR: Quarterly\n- SEMI: SemiAnnual\n- YEAR: Annual\n",
          "required" : true,
          "type" : "string",
          "enum" : [ "DAIL", "WEEK", "TOWK", "MNTH", "TOMN", "FOMN", "QUTR", "SEMI", "YEAR" ]
        }, {
          "name" : "dayOfExecution",
          "in" : "formData",
          "description" : "Day of execution as string in the format DD. This string value cannot exceed the two characters limit. 31 is ultimo of the month. This value is accepted, but is ignored in processing for the moment.\n",
          "required" : false,
          "type" : "string",
          "enum" : [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31" ]
        } ],
        "security" : [ {
          "ING-Application-Security" : [ "payment-accounts:orders:create" ]
        } ],
        "responses" : {
          "201" : {
            "description" : "Created.",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the individual request determined by the initiating party",
                "x-ing-type" : "string"
              },
              "X-ING-Response-ID" : {
                "type" : "string",
                "description" : "ID for tracing the individual request determined by the initiating party",
                "x-ing-type" : "string"
              },
              "Location" : {
                "type" : "string",
                "description" : "Location of the created resource (if created) i.e. GET /v1/payments/{payment-product}/{paymentId} example GET /v1/payments/sepa-credit-transfers/0e62dac7-6c2a-4483-ae01-b8f6221673d2",
                "x-ing-type" : "string"
              }
            },
            "schema" : {
              "$ref" : "#/definitions/PeriodicPaymentInitiationResponse"
            }
          },
          "400" : {
            "description" : "Bad Request.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "401" : {
            "description" : "Unauthorised.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "403" : {
            "description" : "Forbidden.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "404" : {
            "description" : "Not Found.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "422" : {
            "description" : "UNPROCESSABLE ENTITY.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "429" : {
            "description" : "Too Many Requests.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "500" : {
            "description" : "Internal Server Error.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "503" : {
            "description" : "SERVICE UNAVAILABLE.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          }
        }
      }
    },
    "/v1/periodic-payments/pain.001-{payment-product}/{paymentId}" : {
      "get" : {
        "tags" : [ "Periodic payment initiation" ],
        "summary" : "Periodic payment details - XML",
        "description" : "This operation will return the periodic payment initiation details based on the unique identifier of the periodic payment (paymentId), as provided by ING as part of the response of the periodic payment initiation request.",
        "produces" : [ "multipart/form-data" ],
        "parameters" : [ {
          "name" : "payment-product",
          "in" : "path",
          "description" : "The addressed payment product endpoint. The list of products supported is - sepa-credit-transfers - cross-border-credit-transfers - domestic-credit-transfers In due course, ING can communicate additional supported payment products.",
          "required" : true,
          "type" : "string",
          "enum" : [ "sepa-credit-transfers", "cross-border-credit-transfers", "domestic-credit-transfers" ]
        }, {
          "name" : "paymentId",
          "in" : "path",
          "description" : "Identification of payment instruction in ING (resource identification of the generated payment initiation resource).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "X-Request-ID",
          "in" : "header",
          "description" : "ID of the request, unique to the call, as determined by the initiating party (TPP).",
          "required" : true,
          "type" : "string",
          "format" : "uuid"
        }, {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Bearer Token. Represents TPP Application Access Token. The process to obtain the Application Access Token is described in Client Credentials \"Authentication Flow\": https://developer.ing.com/openbanking/get-started",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./_,'+ -]+$"
        }, {
          "name" : "Signature",
          "in" : "header",
          "description" : "A signature of the request by the TPP on application level. The process of signing a request is described in 'Signing HTTP Messages' RFC draft version 07 (https://tools.ietf.org/html/draft-cavage-http-signatures-07). The request signature needs to be sent in the 'Signature' HTTP header as described in the RFC. For more details refer to: https://developer.ing.com/openbanking/get-started Additional requirements from ING:\n  - The only allowed algorithm is RSA-SHA256\n  - The key size for the used RSA key pair has to be at least 2048 bit\n  - The keyId is the clientId of your application originating from the ING Developer Portal\n  - We require the following headers required for every request: \"(request-target) Date Digest X-Request-ID\". The request-target is a combination of the HTTP action verb and the request URI path.",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./\"_=,'+ -]+$"
        }, {
          "name" : "Digest",
          "in" : "header",
          "description" : "The \"Digest\" Header header as defined in [RFC3230] contains a Hash of the message body. The only hash algorithms that may be used to calculate the Digest within the context of this specification are SHA-256 and SHA-512 as defined in [RFC5843].",
          "required" : true,
          "type" : "string",
          "pattern" : "^[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789?:()./,='+ -]+$"
        }, {
          "name" : "Date",
          "in" : "header",
          "description" : "Standard HTTP header element for date and time. HTTP headers are represented as RFC 7231, chapter 7.1.1.1.  Date/Time Formats. Format: EEE, dd MMM yyyy HH:mm:ss 'GMT'",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "PSU-IP-Address",
          "in" : "header",
          "description" : "The forwarded IP Address header field consists of the corresponding http request IP Address field between PSU and TPP.",
          "required" : false,
          "type" : "string",
          "format" : "ipv4,ipv6"
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "headers" : {
              "X-Request-ID" : {
                "type" : "string",
                "description" : "ID of the individual request determined by the initiating party",
                "x-ing-type" : "string"
              },
              "X-ING-Response-ID" : {
                "type" : "string",
                "description" : "ID for tracing the individual request determined by the initiating party",
                "x-ing-type" : "string"
              }
            },
            "schema" : {
              "type" : "string",
              "example" : "------------------------------------------------------------------------------------------ multipart response ------------------------------------------------------------------------------------------ --Boundary_1_1021321412_1568029963659 Content-Type: application/xml Content-Disposition: form-data; name=\"xml_sct\"\nDocument xmlns=\"urn:iso:std:iso:20022:tech:xsd:pain.001.001.03\"\n    CstmrCdtTrfInitn\n        GrpHdr\n            MsgIdsome-msg-id/MsgId\n            CreDtTm2009-09-28T14:07:00/CreDtTm\n            NbOfTxs1/NbOfTxs\n            CtrlSum0.1/CtrlSum\n            InitgPty\n                NmABC Corporation/Nm\n                PstlAdr\n                    StrtNmTimes Square/StrtNm\n                    BldgNb7/BldgNb\n                    PstCdNY 10036/PstCd\n                    TwnNmNew York/TwnNm\n                    CtryUS/Ctry\n                /PstlAdr\n            /InitgPty\n        /GrpHdr\n        PmtInf\n            PmtInfIdABC/086/PmtInfId\n            PmtMtdTRF/PmtMtd\n            BtchBookgfalse/BtchBookg\n            ReqdExctnDt2019-09-09/ReqdExctnDt\n            Dbtr\n                NmABC Corporation/Nm\n                PstlAdr\n                    StrtNmTimes Square/StrtNm\n                    BldgNb7/BldgNb\n                    PstCdNY 10036/PstCd\n                    TwnNmNew York/TwnNm\n                    CtryUS/Ctry\n                /PstlAdr\n            /Dbtr\n            DbtrAcct\n                Id\n                    IBANNL29INGB0123456789/IBAN\n                /Id\n            /DbtrAcct\n            DbtrAgt\n                FinInstnId\n                    BICBBBBUS33/BIC\n                /FinInstnId\n            /DbtrAgt\n            CdtTrfTxInf\n                PmtId\n                    InstrIdABC/090928/CCT001/01/InstrId\n                    EndToEndIdABC/4562/2009-09-08/EndToEndId\n                /PmtId\n                Amt\n                    InstdAmt Ccy=\"EUR\"0.1/InstdAmt\n                /Amt\n                CdtrAgt\n                    FinInstnId\n                        BICAAAAGB2L/BIC\n                    /FinInstnId\n                /CdtrAgt\n                Cdtr\n                    NmAmsterdams Universiteitsfonds (Amsterdam University Fund)/Nm\n                    PstlAdr\n                        AdrLineSpui/AdrLine\n                        AdrLine21/AdrLine\n                        AdrLineAmsterdam/AdrLine\n                        AdrLine1012 WX/AdrLine\n                    /PstlAdr\n                /Cdtr\n                CdtrAcct\n                    Id\n                        IBANNL29INGB0123456789/IBAN\n                    /Id\n                /CdtrAcct\n                Purp\n                    CdCINV/Cd\n                /Purp\n                RmtInf\n                    Strd\n                        RfrdDocInf\n                            Nb4562/Nb\n                            RltdDt2009-09-08/RltdDt\n                        /RfrdDocInf\n                    /Strd\n                /RmtInf\n            /CdtTrfTxInf\n        /PmtInf\n    /CstmrCdtTrfInitn\n/Document\n--Boundary_1_1021321412_1568029963659 Content-Type: text/plain Content-Disposition: form-data; name=\"startDate\"\n2019-09-09 --Boundary_1_1021321412_1568029963659 Content-Type: text/plain Content-Disposition: form-data; name=\"frequency\"\nMNTH --Boundary_1_1021321412_1568029963659 Content-Type: text/plain Content-Disposition: form-data; name=\"dayOfExecution\"\n01 --Boundary_1_1021321412_1568029963659 Content-Type: text/plain Content-Disposition: form-data; name=\"endDate\"\n2023-02-09 --Boundary_1_1021321412_1568029963659--"
            }
          },
          "400" : {
            "description" : "Bad Request.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "401" : {
            "description" : "Unauthorised.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "403" : {
            "description" : "Forbidden.",
            "schema" : {
              "$ref" : "#/definitions/TPPMessages"
            }
          },
          "404" : {
[...]
